header, section, footer, content,image {
 display: block; 
}

section {
 margin-top: 55px;
}

h1 {
	text-align: center;
}

.content {
  padding: 10px;
  position: relative;
  background: #e7e6d4;
}

.footer {
 text-align: center;
}

.image { 
  position: absolute; 
  top: 10px; 
  height: 500px;
  left: 920px;
  padding: 10px;
}

.text {
  position: absolute; 
  top: 10px;
  width: 800px;
  height: 500px;
  text-align: left;
  padding: 10px;
}
